<%# <div class="badge badge-primary text-wrap" style="width: 100%;">


<p>'1) ¿Tiene o ha tenido problemas de salud, ha sido hospitalizado o transfundido alguna vez? '</p>
<p>'2) ¿Ha consultado médico, enfermera, matrona o farmacéutico en los últimos meses? '</p>
<p>'3) ¿Tiene o ha tenido alguna enfermedad infecciosa en el último mes (fiebre, diarrea, resfrío)?' </p>
<p>'4) ¿Está tomando o tomó algún medicamento últimamente?' </p>
<p>'5) ¿Ha tomado Aspirina en los últimos 3 días ? '</p>
<p>'6) ¿Tiene o ha tenido problemas con la presión, sangramiento, alergias, convulsiones o desmayos?' </p>
<p>'7) Si es mujer: ¿Ha tenido parto o aborto en los últimos 12 meses?'</p>
<p>'8) ¿Lo ha picado la vinchuca? '</p>
<p>'9) ¿Tuvo hepatitis o ha estado con alguien con hepatitis? ¿Se ha puesto amarillo alguna vez?' </p>
<p>'10) ¿Usted o su pareja, se han vacunado, realizado tatuajes, acupuntura u otras punciones en el lóbulo de la oreja u otro sitio del cuerpo en los últimos 12 meses?' </p>
<p>'11) ¿Ha usado drogas inyectables en las venas o ha compartido agujas con otras personas?' </p>
<p>'12) ¿Tiene o ha tenido alguna enfermedad de transmisión sexual (sífilis, gonorrea u otra)?'</p>
<p>'13) ¿Ha tenido relaciones sexuales con más de una persona en los últimos 12 meses?' </p>
<p>'14) ¿Ha pagado o recibido pago para tener relaciones sexuales?' </p>


</div> %>

<div id="surveyContainer" class="text-center text-light bg-primary rounded-pill"></div>

<script>


</script>

