<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portal</title>
</head>
<body>

<%= link_to 'Entrevista de donación', questionnaires_survey_path, class:"btn btn-success btn-lg" %>
<%= link_to 'Localiza lugares de donación', locations_map_path, class:"btn btn-danger btn-lg" %>
</body>
</html>