<div style='width: 800px;'>
 <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<table>
<thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @institutions.each do |institution| %>
      <tr>
        <td><%= institution.name %></td>
        <td><%= institution.address %></td>
        <%= hola.hola %>
      </tr>
    <% end %>
  </tbody>
</table>

<script>

handler = Gmaps.build('Google');
handler.buildMap({
     provider: {}, internal: {id: 'map'}}, function(){
 markers = handler.addMarkers(<%=raw @hash.to_json %>);
     });

navigator.geolocation.getCurrentPosition(setPosition);
function setPosition(position) {
        handler.getMap().setCenter({lat:position.coords.latitude, lng:position.coords.longitude});
        var myLatlng = new google.maps.LatLng({lat:position.coords.latitude, lng:position.coords.longitude});
        var marker = new google.maps.Marker({
        position: myLatlng,
        map: handler.getMap(),
        title:"Hello World!"
    });
    handler.getMap().setZoom(15);
        }
</script>





<%# <script>
$(document).ready(function(){
var x = document.getElementById('map');

if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(getAddress);
} else {
    x.innerHTML = "Geolocation is not supported by this browser.";
}
function getAddress(position) {
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;
    $.ajax({
        url: '/locations/find_address',
        type: 'GET',
        dataType: 'json',
        data: {latitude: latitude, longitude: longitude}
    })
    .done(function(data) {
        x.innerHTML = data.address;
    });
};
});

</script> %>